<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{css/app.css}" />
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
    <meta charset="utf-8" />
</head>
<body>
<div class="ctnr" th:fragment="addItem">
    <header>
        <h1>Add Item</h1>
    </header>
    <main>
        <div class="ctnr" th:fragment="addItem">
            <h3 th:text="${message}"></h3>

            <form action="#" th:action="@{/admin/item/add}" th:object="${item}" method="post" enctype="multipart/form-data">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>


                <label for="name">Item Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" />

                <label for="name">Description</label>
                <input type="text" th:field="*{description}" class="form-control" id="name"/>



                <input type="hidden" th:field="*{id}"/>
                <button type="submit" class="btn btn-success">Add</button>
                <a class="btn btn-success btn-large" th:href="@{/admin/item/all}">View All Items</a>

            </form>
        </div>
    </main>
</div>
</body>
</html>
